@model IEnumerable<Match2DateAsp.Models.korisnici>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sifra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aktivan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datumRodjenja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ocjena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slika1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slika2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slika3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sifra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aktivan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datumRodjenja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ocjena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slika1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slika2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slika3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
